/* ---- reset ---- */
canvas {
  display: block;
  vertical-align: bottom;
}
/* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50% 50%;
  z-index: -55;
}

.particles-front {
  position: absolute;
  z-index: 99;
  width: 100%;
}
